@model Greenhouse.web.Models.APIUser

@{
	Layout = "_MainLayout";
}


<head>
	<meta name="viewport" content="width=device-width" />
	<title>Create APIUser</title>
</head>
<body>
	<form method="post" asp-action="Create">
		<div class="row pb-2">
			<h4 class="text-dark text-left m-2">
				User
			</h4>
		</div>

		<div class="m-2">
			<div class="mb-3">
				<label asp-for="Username" class="control-label"></label>
				<input asp-for="Username" class="form-control" required/>
				<span asp-validation-for="Username" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Password" class="control-label"></label>
				<input asp-for="Password" class="form-control" required pattern="[0-9a-fA-F]{4,8}" title="Enter a password including 4-8 hexadecimal digits"/>
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control" required type="email"/>
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="RoleId" class="control-label">Role</label>
				<select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
				<span asp-validation-for="RoleId" class="text-danger"></span>
			</div>
		</div>
		<div class="m-2">
			<button input type="submit" value="Create" class="btn btn-outline-dark btn-sm">Submit</button>
			<a asp-controller="APIUser" asp-action="Get" class="btn btn-outline-secondary btn-sm">Back to List</a>
		</div>
	</form>
</body>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
	}
