@model APIUser

@{
	Layout = "_MainLayout";
}

<h1>Users</h1>

<form method="post" asp-controller="APIUser" asp-action="Edit">
    <div class="border m-2 p-4">
        <h2>
            Edit User
        </h2>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Id" class="form-label"></label>
            <input asp-for="Id" class="form-control" disabled />
        </div>
        <div class="mb-3">
            <label asp-for="Username" class="form-label"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Active" class="form-label"></label>
            <input asp-for="Active" class="form-control" />
            <span asp-validation-for="Active" class="text-danger"></span>
        </div>
@*        <button type="submit" class="btn btn-primary" onclick="    <% ChangeState(); %>">Change State</button>
*@        <div class="mb-3">
            <label asp-for="Role" class="form-label"></label>
            <input asp-for="Role" class="form-control" />
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Return Home</a>
    </div>
</form>

@section Scripts {
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}