@model Greenhouse.web.Models.APIUser

@{
	Layout = "_MainLayout";
}


<head>
	<meta name="viewport" content="width=device-width" />
	<title>Edit APIUser</title>
</head>
<body>
	<form method="post" asp-action="Edit">
		
		<input type="hidden" name="isactive" asp-for="IsActive" />


		<div class="row pb-2">
			<h4 class="text-dark text-left m-2">
				Edit APIUser
			</h4>
		</div>

		<div asp-validation-summary="All" class="m-2">
@*			<input type="hidden" name="number" asp-for="Id" value="@Model.Id" />
*@			<div class="mb-3" hidden>
			<label asp-for="Id" class="form-label"></label>
			<input asp-for="Id" class="form-control"/>
			</div>
			<div class="mb-3">
				<label asp-for="Username" class="form-label"></label>
				<input asp-for="Username" class="form-control" />
				<span asp-validation-for="Username" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Email" class="form-label"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="RoleId" class="form-label">Role</label>
				<select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
				<span asp-validation-for="RoleId" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="OldPassword" class="form-label">Old Password</label>
				<input asp-for="OldPassword" class="form-control" />
				<span asp-validation-for="OldPassword" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Password" class="form-label">New Password</label>
				<input asp-for="Password" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			@*        <div class="form-check mb-3">
			<input asp-for="IsActive" class="form-check-input" />
			<label asp-for="IsActive" class="form-check-label"></label>
			<span asp-validation-for="IsActive" class="text-danger"></span>
			</div>*@
			<button input type="submit" value="Save" class="btn btn-outline-dark btn-sm">Submit</button>
			<a asp-controller="APIUser" asp-action="Get" class="btn btn-outline-secondary btn-sm">Back</a>
		</div>
	</form>
</body>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
	}
