@model List<Greenhouse.web.Models.Asset>

<div class="">
    Assets
    <div class="accordion" id="accordionExample">

        @foreach (Asset asset in Model)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne-@asset.Id">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-@asset.Id" aria-expanded="true" aria-controls="collapseOne-@asset.Id">
                        @asset.Name
                    </button>
                </h2>
                <div id="collapseOne-@asset.Id" class="accordion-collapse collapse show" aria-labelledby="headingOne-@asset.Id" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        @asset.Description
                        @foreach (Sensor sensor in asset.Sensors)
                        {
                            <p>@sensor.Name</p>
                        }
                    </div>
                </div>
            </div>
        }

    </div>
</div>

<div>
    Graphs
</div>
