@model Greenhouse.web.Models.Asset

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateAsset</title>
</head>

<body>
    <form method="post" asp-action="CreateAsset">
        <div class = "row pb-2">
	        <h4 class ="text-dark text-left m-3">
            Create a new Asset
            </h4>
        </div>

        <div asp-validation-summary="All">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Company" class="control-label"></label>
                <input asp-for="Company" class="form-control" />
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AssetTypeId" class="control-label"></label>
                <input asp-for="AssetTypeId" class="form-control" />
                <span asp-validation-for="AssetTypeId" class="text-danger"></span>
            </div>
         </div>

         <div>
            <button type="submit" value="CreateAsset" class="btn btn-outline-dark">Submit</button>
            <a asp-controller="Assets" asp-action="GetAssets" class="btn btn-outline-secondary">Back to List</a>
        </div>

     </form>
</body>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}

}