@model List<Sensor>

	<h1>Sensors</h1>

	<div class="bg-light clearfix text-center">
		<a type="button" class="btn btn-outline-primary float-right" asp-controller="Sensors" asp-action="Index">Get All Readings</a>
		<a type="button" class="btn btn-outline-primary float-right" asp-controller="Sensors" asp-action="Index">Get Sensor Reading</a>
	</div>
