@model List<Sensor>

	<h1>Sensors</h1>

	<div class="bg-light clearfix text-center">
		<button type="button" class="btn btn-outline-primary float-right" asp-controller="Sensors" asp-action="Get">Get All Readings</button>
		<button type="button" class="btn btn-outline-primary float-right" asp-controller="Sensors" asp-action="Get">Get Sensor Reading</button>
	</div>
