@{
	Layout = "_MainLayout";
	ViewData["Title"] = "Home Page";
}


<div class="d-flex align-content-center">
	<div class="container">
		<div class="text-center">
			<h1 class="display-3">Welcome to our API repository.</h1>
		</div>
	</div>
</div>