@model Greenhouse.web.Models.SensorType

@{
	Layout = "_MainLayout";
}

<head>
	<meta name="viewport" content="width=device-width" />
	<title>Create SensorType</title>
</head>

<body>
	<form method="post" asp-action="Create">
		<div class="row pb-2">
			<h4 class="text-dark text-left m-2">
				SensorType
			</h4>
		</div>
		<div class="m-2">
			<div class="mb-3">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" required minlength="1"/>
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Description" class="control-label"></label>
				<input asp-for="Description" class="form-control" required minlength="1"/>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
		</div>
		<div class="m-2">
			<button input type="submit" value="Create" class="btn btn-outline-dark">Submit</button>
			<a asp-controller="SensorTypes" asp-action="Get" class="btn btn-outline-secondary">Back</a>
		</div>

	</form>
</body>
@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}

}




