@model List<Reading>

@{
	Layout = "_LoggedInLayout";
}

@*<div>
	<a asp-action="GetLastByApi" asp-area="" asp-controller="Readings" type="button"></a>
</div>*@


<table class="table table-hover">
	<thead>
		<tr class="table-info">
			<th>Sensor Id</th>
			<th>Sensor Type</th>
			<th>Reading Date</th>
			<th>Read Value</th>
		</tr>
	</thead>
	<tbody>

		@foreach (Reading reading in Model)
		{
			<tr class="table-info">
				<th>@reading.SensorId</th>
				<th>@reading.SensorType</th>
				<th>@reading.ReadDate</th>
				<th>@reading.Value</th>
			</tr>
		}
	</tbody>
</table>
