@model List<Reading>

@{
	Layout = "_LoggedInLayout";
}

@*<div>
	<a asp-action="GetLastValueBySensorId" asp-area="" asp-controller="Readings" type="button"></a>
</div>*@

@*<div class="form-group">
  <label class="col-form-label mt-4" for="inputDefault">Default input</label>
  <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
</div>*@

<table>
	<tr class="table table-bordered table-striped table-info">
		<th>Sensor Id</th>
		<th>Sensor Type</th>
		<th>Reading Date</th>
		<th>Read Value</th>
	</tr>
	@foreach (Reading reading in Model)
	{
		<tr class="table table-bordered table-striped table-info">
			<th>@reading.SensorId</th>
			<th>@reading.SensorType</th>
			<th>@reading.ReadDate</th>
			<th>@reading.Value</th>
		</tr>
	}
</table>