<div class="mask d-flex align-items-center h-100 gradient-custom-3">
	<div class="container h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12 col-md-9 col-lg-7 col-xl-6">
				<div class="card" style="border-radius: 15px;">
					<div class="card-body p-5">
						<h2 class="text-uppercase text-center mb-5">Update your Account Settings</h2>
						<form id="change-password-form" method="post">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							<div class="form-outline mb-4">
								<input @*asp-for="Input.OldPassword"*@ id="form3Example1cg" class="form-control form-control-lg" disabled/>
								<label @*asp-for="Input.OldPassword"*@ for="form3Example1cg" class="form-label">Username</label>
								<span @*asp-validation-for="Input.OldPassword"*@ class="text-danger"></span>
							</div>
							<div class="form-outline mb-4">
								<input @*asp-for="Input.OldPassword"*@ id="form3Example2cg" class="form-control form-control-lg" autocomplete="current-password" aria-required="true"/>
								<label @*asp-for="Input.OldPassword"*@ for="form3Example2cg" class="form-label">Current Password</label>
								<span @*asp-validation-for="Input.OldPassword"*@ class="text-danger"></span>
							</div>
							<div class="form-outline mb-4">
								<input @*asp-for="Input.NewPassword"*@ id="form3Example3cg" class="form-control form-control-lg" autocomplete="new-password" aria-required="true" />
								<label @*asp-for="Input.NewPassword"*@ for="form3Example3cg" class="form-label">New Password</label>
								<span @*asp-validation-for="Input.NewPassword"*@ class="text-danger"></span>
							</div>
							<div class="form-outline mb-4">
								<input @*asp-for="Input.ConfirmPassword"*@ id="form3Example4cg" class="form-control form-control-lg" autocomplete="new-password" aria-required="true" />
								<label @*asp-for="Input.ConfirmPassword"*@ for="form3Example4cg" class="form-label">Confirm New Password</label>
								<span @*asp-validation-for="Input.ConfirmPassword"*@ class="text-danger"></span>
							</div>
							<button type="submit" class="w-100 btn btn-lg btn-success">Update password</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

