@model IEnumerable<API>
@{
	Layout = "_LoggedInLayout";
}

<table>
	<tr class="table table-bordered table-striped">
		<th>Sensor Name</th>
		<th>Reading Date</th>
		<th>Read Value</th>
	</tr>
	@foreach (API api in Model)
	{
		<tr>
			<th>@api.Id</th>
			<th>@api.Name</th>
			<th>@api.Description</th>
		</tr>
	}
</table>
