@model Greenhouse.web.Models.AssetType

@{
	Layout = "_MainLayout";
}

<head>
	<meta name="viewport" content="width=device-width" />
	<title>Create AssetType</title>
</head>
<body>
	<form method="post" asp-action="CreateAssetType">
		<h4 class="text-dark text-left m-2">
			New AssetType
		</h4>
		</div>
		<div asp-validation-summary="All" class="m-2">
			@*<div class="mb-3">
			<label asp-for="Id" class="control-label" ></label>
			<input asp-for="Id" class="form-control" />  @Html.DisplayFor(model => model.Id)
			<span asp-validation-for="Id" class="text-danger"></span>
			</div>*@
			<div class="mb-3">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Description" class="control-label"></label>
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			@*<div class="form-check mb-3">
			<input asp-for="IsActive" class="form-check-input" />
			<label asp-for="IsActive" class="form-check-label"></label>
			<span asp-validation-for="IsActive" class="text-danger"></span>
			</div>*@
		</div>
		<div class="m-2">
			<button input type="submit" value="CreateAssetType" class="btn btn-outline-dark btn-sm">Submit</button>
			<a asp-controller="AssetTypes" asp-action="GetAssetTypes" class="btn btn-outline-secondary btn-sm">Back to List</a>
		</div>
	</form>
</body>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}

}