html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #353631;
}

.accordion-button::selection::after {
    filter: brightness(0%) invert(100%);
}

.accordion-button:not(.collapsed)::after {
    filter: brightness(0%) invert(100%);
}