<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Greenhouse.web</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Greenhouse.web.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />

</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="container-fluid">
				@*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Greenhouse.web</a>*@
				<button class="navbar-toggler ml" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
					<ul class="navbar-nav">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle h1" id="navbarnavDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Select an option</a>							
							<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarnavDropdownMenuLink">
								<li><a class="dropdown-item" asp-area="" asp-controller="AssetTypes" asp-action="GetAssetTypes">AssetTypes</a></li>
								<li><a class="dropdown-item" asp-area="" asp-controller="Assets" asp-action="GetAssets">Assets</a></li>
								<li><a class="dropdown-item" asp-area="" asp-controller="SensorTypes" asp-action="Get">SensorTypes</a></li>
								<li><a class="dropdown-item" asp-area="" asp-controller="Sensors" asp-action="Get">Sensors</a></li>
								<li><a class="dropdown-item" asp-area="" asp-controller="APIUser" asp-action="Get">Users</a></li>
								<li><a class="dropdown-item" asp-area="" asp-controller="Role" asp-action="Get">Roles</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<div class="container min-vh-100 align-content-center">
		<main role="main">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted p-4">
		<div class="container">
			&copy; 2022 - Greenhouse.web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)

</body>
</html>