	@model API

<form method="post">

	<div class = "border m-2 p-4">

		<div class = "row pb-2">
			<h2 class ="text-primary">
				add a new API
			</h2>
		</div>

		<div asp-validation-summary="All"></div>

		<div class= "mb-3">
			<label asp-for="ApiId" class="form-label"></label>
			<input asp-for="ApiId" class="form-control" disabled/>
		</div>

		<div class= "mb-3">
			<label asp-for="ApiName" class="form-label">Description</label>
			<input asp-for="ApiName" class="form-control" />
			<span asp-validation-for="ApiName" class= "text-danger"></span>
		</div>

		<div class= "mb-3">
			<label asp-for="ApiDescription" class="form-label"></label>
			<input asp-for="ApiDescription" class="form-control" />
			<span asp-validation-for="ApiDescription" class= "text-danger"></span>
		</div>

		<button type="submit" class="btn btn-primary">Create</button>
		<a asp-controller="APIs" asp-action="Index" class = "btn btn-secondary">Back to aPIs</a>

	</div>

</form>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
