@model API

<form method="post" asp-controller="APIs" asp-action ="DeletePOST" asp-route-id="@Model.Id">
	<input asp-for="Id" hidden />

	<div class = "border m-2 p-4">

		<div class = "row pb-2">
			<h2 class ="text-primary">
				Delete API
			</h2>
		</div>

		<div asp-validation-summary="All"></div>

		<div class= "mb-3">
			<label asp-for="Id" class="form-label"></label>
			<input asp-for="Id" class="form-control" readonly />
		</div>
		<div class= "mb-3">
			<label asp-for="Name" class="form-label"></label>
			<input asp-for="Name" class="form-control" readonly />
		</div>
		<div class= "mb-3">
			<label asp-for="Description" class="form-label"></label>
			<input asp-for="Description" class="form-control" readonly />
		</div>

		<button type="submit" class="btn btn-primary">Delete</button>
		<a asp-controller="APIs" asp-action="Index" class = "btn btn-secondary">Back to the list of APIs</a>
	</div>

</form>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}