@model Greenhouse.web.Models.API

<form asp-action="Edit">
	<div class = "border m-2 p-4">
		<div class = "row pb-2">
			<h2 class ="text-primary">
				Add details to API
			</h2>
		</div>
		<div asp-validation-summary="All"></div>
		<div class= "mb-3">
			<label asp-for="Id" class="form-label"></label>
			<input asp-for="Id" class="form-control" readonly/>
		</div>
		<div class= "mb-3">
			<label asp-for="Name" class="form-label">API Name</label>
			<input asp-for="Name" class="form-control"/>
			<span asp-validation-for="Name" class= "text-danger"></span>
		</div>
		<div class= "mb-3">
			<label asp-for="Description" class="form-label">API Description</label>
			<input asp-for="Description" class="form-control" />
			<span asp-validation-for="Description" class= "text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary">Update</button>
		<a asp-controller="APIs" asp-action="Index" class = "btn btn-secondary">Back to APIs list</a>
	</div>
</form>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}